Source: ros-humble-ros-babel-fish
Section: misc
Priority: optional
Maintainer: Stefan Fabian <ros_babel_fish@stefanfabian.me>
Build-Depends: debhelper (>= 9.0.0), ros-humble-action-tutorials-interfaces, ros-humble-ament-cmake, ros-humble-ament-cmake-clang-format <!nocheck>, ros-humble-ament-cmake-cppcheck <!nocheck>, ros-humble-ament-cmake-gtest <!nocheck>, ros-humble-ament-index-cpp, ros-humble-ament-lint-auto <!nocheck>, ros-humble-example-interfaces <!nocheck>, ros-humble-geometry-msgs, ros-humble-geometry-msgs <!nocheck>, ros-humble-rclcpp, ros-humble-rclcpp-action, ros-humble-rcpputils, ros-humble-ros-babel-fish-test-msgs <!nocheck>, ros-humble-rosidl-runtime-cpp, ros-humble-rosidl-typesupport-cpp, ros-humble-rosidl-typesupport-introspection-cpp, ros-humble-std-msgs <!nocheck>, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-ros-babel-fish
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-ament-index-cpp, ros-humble-rclcpp, ros-humble-rclcpp-action, ros-humble-rcpputils, ros-humble-rosidl-runtime-cpp, ros-humble-rosidl-typesupport-cpp, ros-humble-rosidl-typesupport-introspection-cpp, ros-humble-ros-workspace
Description: A runtime message handler for ROS.
 Allows subscription, publishing, calling of services and actions with messages known only at runtime as long as they are available in the local environment.
